In [22]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
df = pd.read_csv('COVID_data/01-22-2020.csv')

In [24]:
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN

In [25]:
df.tail()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
33,Yunnan,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
34,Zhejiang,Mainland China,1/22/2020 17:00,10.0,NaN,NaN
35,NaN,Japan,1/22/2020 17:00,2.0,NaN,NaN
36,NaN,Thailand,1/22/2020 17:00,2.0,NaN,NaN
37,NaN,South Korea,1/22/2020 17:00,1.0,NaN,NaN

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  35 non-null     object
 1   Country/Region  38 non-null     object
 2   Last Update     38 non-null     object
 3   Confirmed       29 non-null     float64
 4   Deaths          1 non-null      float64
 5   Recovered       1 non-null      float64
dtypes: float64(3), object(3)
memory usage: 1.9+ KB

In [36]:
df['Province/State'].value_counts()

Hong Kong         1
Jiangsu           1
Henan             1
Hubei             1
Guizhou           1
Washington        1
Zhejiang          1
Heilongjiang      1
Gansu             1
Jilin             1
Shanxi            1
Shanghai          1
Chongqing         1
Fujian            1
Anhui             1
Macau             1
Tianjin           1
Inner Mongolia    1
Shandong          1
Shaanxi           1
Guangxi           1
Hainan            1
Xinjiang          1
Qinghai           1
Jiangxi           1
Taiwan            1
Sichuan           1
Tibet             1
Guangdong         1
Liaoning          1
Beijing           1
Yunnan            1
Ningxia           1
Hebei             1
Hunan             1
Name: Province/State, dtype: int64

In [37]:
df.fillna(0, axis=1, inplace=True)

In [38]:
df['Province/State'].value_counts()

0                 3
Hong Kong         1
Jiangsu           1
Henan             1
Hubei             1
Guizhou           1
Washington        1
Zhejiang          1
Heilongjiang      1
Gansu             1
Shandong          1
Shanxi            1
Shanghai          1
Chongqing         1
Fujian            1
Anhui             1
Macau             1
Tianjin           1
Jilin             1
Inner Mongolia    1
Shaanxi           1
Guangxi           1
Hainan            1
Xinjiang          1
Qinghai           1
Jiangxi           1
Taiwan            1
Sichuan           1
Tibet             1
Guangdong         1
Liaoning          1
Beijing           1
Yunnan            1
Ningxia           1
Hebei             1
Hunan             1
Name: Province/State, dtype: int64

In [40]:
confirmed_cases = df[df['Country/Region'] == 'Mainland China']['Confirmed'].values
print(confirmed_cases)

[  1.  14.   6.   1.   0.  26.   2.   1.   4.   1.   0.   5. 444.   4.
   0.   1.   2.   0.   2.   1.   0.   0.   2.   9.   1.   5.   4.   0.
   0.   1.  10.]

In [44]:
confirmed_cases_count = df[df['Country/Region'] == 'Mainland China']['Confirmed'].values[2]
print(confirmed_cases_count)

6.0

In [8]:
df_us.head(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-28 02:30:51,34.223334,-82.461707,29,0,0,29,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-28 02:30:51,30.295065,-92.414197,130,9,0,121,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-28 02:30:51,37.767072,-75.632346,195,3,0,192,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-28 02:30:51,43.452658,-116.241552,650,15,0,635,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-28 02:30:51,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
5,21001.0,Adair,Kentucky,US,2020-04-28 02:30:51,37.104598,-85.281297,77,9,0,68,"Adair, Kentucky, US"
6,29001.0,Adair,Missouri,US,2020-04-28 02:30:51,40.190586,-92.600782,12,0,0,12,"Adair, Missouri, US"
7,40001.0,Adair,Oklahoma,US,2020-04-28 02:30:51,35.884942,-94.658593,55,3,0,52,"Adair, Oklahoma, US"
8,8001.0,Adams,Colorado,US,2020-04-28 02:30:51,39.874321,-104.336258,1391,60,0,1331,"Adams, Colorado, US"
9,16003.0,Adams,Idaho,US,2020-04-28 02:30:51,44.893336,-116.454525,3,0,0,3,"Adams, Idaho, US"

In [9]:
df_us.tail(10)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2879,8125.0,Yuma,Colorado,US,2020-04-28 02:30:51,40.003468,-102.425867,6,0,0,6,"Yuma, Colorado, US"
2880,48505.0,Zapata,Texas,US,2020-04-28 02:30:51,27.001564,-99.169872,7,0,0,7,"Zapata, Texas, US"
2881,48507.0,Zavala,Texas,US,2020-04-28 02:30:51,28.866172,-99.760508,1,0,0,1,"Zavala, Texas, US"
2896,88888.0,NaN,Diamond Princess,US,2020-04-28 02:30:51,NaN,NaN,49,0,0,49,"Diamond Princess, US"
2905,99999.0,NaN,Grand Princess,US,2020-04-28 02:30:51,NaN,NaN,103,3,0,100,"Grand Princess, US"
2908,66.0,NaN,Guam,US,2020-04-28 02:30:51,13.444300,144.793700,141,5,0,136,"Guam, US"
2934,69.0,NaN,Northern Mariana Islands,US,2020-04-28 02:30:51,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
2939,72.0,NaN,Puerto Rico,US,2020-04-28 02:30:51,18.220800,-66.590100,1389,84,0,1305,"Puerto Rico, US"
2943,NaN,NaN,Recovered,US,2020-04-28 02:30:51,NaN,NaN,0,0,111424,-111424,"Recovered, US"
2958,78.0,NaN,Virgin Islands,US,2020-04-28 02:30:51,18.335800,-64.896300,57,4,0,53,"Virgin Islands, US"